@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background: var(--Light_gray);
}

.card__container {
  margin: 3rem;
  padding: 2rem;
  background: var(--White);
  border-radius: 10px;
}

.card__title {
  text-align: center;
  font-weight: 700;
  color: var(--Dark_blue);
}

.card__text {
  text-align: center;
  font-weight: 400;
  color: var(--Grayish_blue);
}

.card__qrcode {
  width: 100%;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 425px) {
  .card__container {
    width: 30%;
    padding: 2rem;
    margin: 5rem auto;
  }
}
